<html>
    <head>
        <link rel="stylesheet" href="./index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <ol>
                <todo-item></tool-item>
                <todo-item></tool-item>
            </ol>
        </div>

        <div id="app-7">
            <ol>
                <todo-item v-for='item in groceryList'
                    v-bind:todo='item'
                    v-bind:key='item.id'
                >
                </todo-item>
            </ol>
        </div>

        <div id="app-8">
            <span>Message : {{msg}}</span><br/>
            <span v-once> 这个内容不能改变 : {{msg2}}</span><br/>
            <button v-bind:disabled="isButtonDisabled">Button</button>
            <br/>
            <span>Number : {{number + 1}}</span> <br/>
            <span>ok : {{ok ? 'yes' : 'no'}}</span> <br/>
            <p v-if="seen">now you  can see me!</p>
        </div>
        <script src="./index.js"></script>
    </body>
</html>