<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app" v-bind:style="divStyle">
        <!-- v-if -->
        <h1 v-if="awesome">Vue is awesome!!!</h1>
        <h1 v-else>Oh , No</h1>
        <template v-if="ok">
                <h1>Title</h1>
                <p>Paragraph 1</p>
                <p>Paragraph 2</p>
        </template>
    </div>
    <script src="index.js" charset="utf-8"></script>
</body>